version: '3.9'
services:
  db:
    image: ankane/pgvector:v0.5.1
    environment:
      POSTGRES_USER: closet
      POSTGRES_PASSWORD: closet
      POSTGRES_DB: closet
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
